<div class="contaier col-md-12">
	<button class="btn btn-primary btn-block" id="viewBmi" ng-click="viewBMI()">Edit Profile</button><br/>
	<button class="btn btn-primary btn-block" id="viewBmi" ng-click="viewBMI()">View My BMI</button><br/>
	<button class="btn btn-primary btn-block" id="viewIw" ng-click="viewIW()">View Ideal Weight for Me</button><br/>
	<button class="btn btn-primary btn-block" id="viewExer" ng-click="viewExer()">View Exercise</button><br/>
	<h2>Your Diet Plan</h2>
	Breakfast: Search for a food, Number of Servings (Calories will be shown according to food)
	Lunch: Search for a food, Number of Servings (Calories will be shown according to food)
	Snacks: Search for a food, Number of Servings (Calories will be shown according to food)
	Dinner: Search for a food, Number of Servings (Calories will be shown according to food)
</div>